{% extends 'base.html.twig' %}

{% block header %}
{% include 'AppBundle::header.html.twig' %}
{% endblock %}

{% block body %}

<main>
    <article class="container ">

    </article>
</main>

    <footer class="footer">

    </footer>

{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}
