{% extends 'AppBundle::template.html.twig' %}

{% block container %}
    <div class="row" style="min-height: 700px;background-color: lightgray;">
        <div class="col-md-12">
            <div class="row mt-4">
                <div class="col-md-12" id="element-spotify">
                    <input type="hidden" name="id" value="">
                    <input type="hidden" name="type" value="">
                </div>
                <div class="col-md-12">
                    <div class="form-group">
                        <textarea class="form-control" name="" rows="5" placeholder="Comment"></textarea>
                    </div>
                </div>
                <div class="col-md-12 text-right">
                    <input type="submit" value="Submit" class="btn btn-primary">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12" id="publications">

            </div>
        </div>
    </div>
{% endblock %}