{% extends 'base.html.twig' %}

{% block header %}
{% include 'AppBundle::header.html.twig' %}
{% endblock %}

{% block body %}

<main>
    <article class="container ">
        {% block container %}
            {% include 'AppBundle::container.html.twig' %}
        {% endblock %}
    </article>
</main>

{% block footer %}
    {% include 'AppBundle::footer.html.twig' %}
{% endblock %}

{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}
