{% extends 'AppBundle::template.html.twig' %}

{% block container %}
    <div class="row" style="min-height: 700px;background-color: lightgray;">
        <div class="col-md-12">

        </div>

    </div>
{% endblock %}