{% extends 'base.html.twig' %}

{% block header %}
    {% include 'AppBundle::header.html.twig' %}
{% endblock %}

{% block body %}

    <main>
        <section class="container no-padding">
            <div class="col-md-12 " style="background-color: darkgray;">
                <div class="row justify-content-md-center">
                     <div class="col-md-8 col-12 col-xs-12 col-sm-12" style="margin:0 auto;">
                        {% block container %}

                        {% endblock %}
                     </div>
                </div>
            </div>
        </section>
    </main>

    {% block footer %}
        {% include 'AppBundle::footer.html.twig' %}
    {% endblock %}

{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}
