/app/config/parameters.yml
/build/
/phpunit.xml
/var/*
/var/cache/*
/var/logs/*
.idea
/var/sessions/*
/vendor/
/web/bundles/
./idea
/src/AppBundle/Resources/config/parameters.yml
/app/Resources/client_secrets.json
