# Learn more about services, parameters and containers at
# http://symfony.com/doc/current/service_container.html
parameters:
#    parameter_name: value


services:
#    service_name:
#        class: AppBundle\Directory\ClassName
#        arguments: ["@another_service_name", "plain_value", "%parameter_name%"]




#ENTITY
    app.user.mentadata:
         class: Doctrine\ORM\Mapping\ClassMetadata
         factory_service:  doctrine
         factory_method:   getRepository
         #arguments:  [ LoginBundle\Resources\config\doctrine\User ]
         arguments:  [ Component\Domain\Entity\User ]

