{% extends 'base.html.twig' %}

{% block header %}
    {% include 'AppBundle::header.html.twig' %}
{% endblock %}

{% block body %}

    <main>
        <section class="container no-padding">
            <div class="col-md-12 bg-white">
                <div class="row">
                    <div class="col-md-3 bg-menu">
                        {% block main %}
                            {% include 'ProfileBundle::main.html.twig' %}
                        {% endblock %}
                    </div>

                    <div class="col-md-9">
                        {% block container %}

                        {% endblock %}
                    </div>
                </div>
            </div>
        </section>
    </main>

    {% block footer %}
        {% include 'ProfileBundle::footer.html.twig' %}
    {% endblock %}

{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}
